body{
  background-color:powderblue;
}
hr{
  border-color: grey;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
}
h1{
  color: #66BFBF;
}
h3:hover{
  color:#bbff00;
}

.rock{
  border-radius: 100%;
}
